body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 40px;
}

.counter {
    font-size: 60px;
    margin: 20px 0;
}

.click-btn {
    padding: 20px 40px;
    font-size: 26px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

/* Панель управления */
.panel {
    position: fixed;
    top: 10px;
    left: 10px;

    background: rgba(0, 0, 0, 0.7);
    padding: 12px 16px;
    border-radius: 10px;

    width: 160px;
    backdrop-filter: blur(5px);
}

.panel h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.panel button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.panel input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
}